<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Pizzaria LinkApi</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./styles/estilo.css">
    </head>
    <body>
            <header>
                    <nav id="menu">
                        <ul>
                            <li><a href="index.html">Página inicial</a></li>
                            <li><a href="cliente-cadastro.html">Novo Cliente</a></li>
                            <li><a href="#">Novo Pedido</a></li>
                            <li><a href="produto-cadastro.html">Novo Produto</a></li>
                        </ul>
                    </nav>
                </header>
        

    </body>
</html>